@font-face {
    font-family: K2D Bold;
    src: url(../fonts/K2D/K2D-Bold.ttf);
}

@font-face {
    font-family: Georama;
    src: url(../fonts/Georama/Georama-VariableFont_wdth\,wght.ttf);
}

:root{
    h1, h2, h3{
        font-family: K2D Bold;
    }
    h1{
        font-size: 96px;
    }
    h2{
        font-size: 72px;
    }
    h3{
        font-size: 32px;
    }
    li, button, input{
        font-size: 16px;
        font-family: Georama;
        font-weight: 500;
    }
    body{
        margin: 0px;
        font-size: 20px;
        font-family: Georama;
        font-weight: 500;
    }
    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
        box-sizing: content-box;
        border: 0px;
        border-radius: 32px;
        background-color: #FF4D4D;
        border: 2px solid #FF4D4D;
        transition: 100ms ease-in-out;
        &:hover{
            cursor: pointer;
            background-color: white;
            color: #FF4D4D;
        }
        &:active{
            cursor: pointer;
            background-color: #FFD3D3;
            color: #FF4D4D;
        }
        .arrow{
            font-size: 32px;
            font-weight: 200;
            margin-bottom: 5px;
        }
    }
    .btn-rect{
        min-width: 192px;
        height: 40px;
    }
    .btn-circle{
        box-sizing: content-box;
        border: 2px solid #FF4D4D;
        border-radius: 100%;
        font-size: 40px;
        font-weight: 300;
        height: 40px;
        width: 42px;
        padding: 0px;
        .plus{
            margin-bottom: 6px;
        }
        &:hover{
            cursor: pointer;
            background-color: white;
            color: #FF4D4D;
        }
        &:active{
            cursor: pointer;
            background-color: #FFD3D3;
            color: #FF4D4D;
        }
    }
    ul{
        list-style: none;
    }
    p{
        /* margin: 0px; */
        line-height: 24px;
        letter-spacing: 2%;
    }
}

