.banner-wrapper {
  .page--container {
    .banner__banner-info {
      z-index: 1;
      .banner-info__title {
        max-width: 1168px;
        margin: 0 auto;
      }
      .banner-info__subtitle {
        padding-bottom: 0px;
        max-width: 806px;
      }
    }
    .banner__zipcode {
      margin-top: 96px;
      margin-bottom: 288px;
    }
    .austin {
      margin-bottom: 184px;
    }
  }
}

.maximize-efficiency {
  color: #381606;
  max-width: 1024px;
  margin: 0 auto;
  .content-wrapper {
    flex-direction: column;

    display: flex;
    gap: 6px;
    .content__title {
      h2 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    .content__body {
      display: flex;
      gap: 42px;
      text-align: left;
      .content__img {
        object-fit: contain;
      }
      .body__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          opacity: 72%;
          letter-spacing: 0.02em;
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    padding: 144px 0px;
    .content-wrapper {
      .content__img-mobile {
        display: none;
      }
      .body__img-desktop {
        display: block;
      }
      .body__text {
        padding-top: 58px;
        p {
          line-height: 32px;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    padding: 96px 0px;
    .content-wrapper {
      gap: 24px;
      .content__img-mobile {
        display: block;
        margin: 0 auto;
        .content__img {
          max-width: 137.09px;
        }
      }
      .body__img-desktop {
        display: none;
      }
      .body__text {
        gap: 16px;
        text-align: center;
        p {
          line-height: 24px;
        }
      }
    }
  }
}

.educational-content {
  padding: 144px 0px;
  .page--container {
    justify-content: center;
    text-align: center;
    color: #381606;
    .content__info {
      .info__subtitle {
        padding-top: 24px;
        opacity: 72%;
        max-width: 706px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
          padding-bottom: 56px;
        }
        @media screen and (min-width: 768px) {
          padding-bottom: 64px;
        }
      }
    }
  }

  .content__edu-cards-wrapper {
    @media screen and (max-width: 450px) {
      .edu-cards {
        margin-left: 0px;
        .edu-card-wrapper {
          margin: 0px 16px;
        }
      }
    }
    @media screen and (min-width: 451px) {
      .edu-cards {
        margin-left: 32px;
        .edu-card {
          max-width: 328px;
        }
      }
    }
    @media screen and (min-width: 769px) {
      .edu-cards {
        margin-left: 64px;
        .edu-card {
          max-width: 416px;
          .edu-card-wrapper {
            padding: 0px;
          }
        }
      }
    }
    .edu-cards {
      display: flex;
      justify-content: space-around;
      overflow: visible;
      .edu-card {
        .edu-card-wrapper {
          background-color: #fff4e7;
          border-radius: 32px;
          text-align: left;
          padding: 32px;
          .edu-card__info {
            color: #381606;
            .edu-card__title {
              h3 {
                font-weight: 700;
                line-height: 40px;
                letter-spacing: -0.8px;
                text-wrap: wrap;
                padding-bottom: 8px;
              }
            }
            .edu-card__subtitle {
              p {
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0.02em;
                padding-bottom: 32px;
              }
            }
          }
          .edu-card__button {
            background-color: #ffa030;
            border: none;
            max-width: 142px;
            color: white;
            &:hover {
              cursor: url("../images/cursor.svg"), auto;
            }
            svg {
              path {
                fill: white;
                stroke: white;
              }
            }
          }
          &:hover {
            background-color: #fddbb5;
            cursor: url(../images/cursor.svg), auto;
          }
        }
      }
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-navBtns-wrapper {
  position: relative;
  padding-top: 32px;
  margin: 0 auto;
  display: flex;
  max-width: 280px;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  .custom-swiper-button-prev,
  .custom-swiper-button-next {
    &:hover {
      cursor: pointer;
      svg {
        circle {
          fill: #ffa030;
        }
        path {
          stroke: #ffffff;
        }
      }
    }
  }
  .swiper-pagination {
    position: static;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    max-width: 152px;
    .swiper-pagination-bullet {
      background: rgba(255, 160, 48, 0.1);
      width: 12px;
      height: 12px;
      opacity: 1;
      margin: 0px !important;
      padding: 0px;
    }
    .swiper-pagination-bullet-active {
      background: rgba(255, 160, 48, 1); /* #FFA030 color with 100% opacity */
      width: 12px;
      height: 12px;
      opacity: 1;
    }
  }
}
